* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

.df {
    display: flex
}

.row {
    display: flex;
    justify-content: center;
}

.header {
    background-color: rgb(255, 230, 0);
    height: 10vh;
    padding-top: 4vh;
    margin-bottom: 3em;
}

.searchBar {
    text-align: center;
    width: 10vw;
    margin: 0 auto;
}

.navbar {
    margin-top: 3vh;
    background-color: rgb(255, 230, 0);
    height: 5vh;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-left: 3vw;
}

.navbar a:hover {
    background-color: #fff;
    transition-duration: 0.5s;
    padding: 0.5%;
}

.margin-section {
    margin-top: 1em
}

.advantages {
    background-color: #fff;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.advantage {
    margin: 2em
}

.market-item {
    width: 150px;
    margin: 1.5em;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}

.market-item:hover {
    height: 350px;
    transition-duration: 0.5s
}

.details {
    text-align: center;
}