* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(255, 230, 0);
    height: 10vh;
    padding-top: 4vh;
}

.searchBar {
    text-align: center;
    width: 10vw;
    margin: 0 auto;
}

.navbar {
    margin-top: 3vh;
    background-color: rgb(255, 230, 0);
    height: 4vh;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-left: 3vw;
}